<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ennovate 2020</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/BloomBox, E-Cell KJSCE - Logo Small.png" rel="icon">
  <link href="img/BloomBox, E-Cell KJSCE - Logo Small.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/timeline.css" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="index.html"><span>Ennovate</span></a></h1>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#schedule">Schdeule</a></li>
          <li><a href="#services">Domains</a></li>
          <li><a href="#sponsers">Sponsors</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Make your<br>work<br>know it's worth</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#" class="btn-schedule scrollto">Register Now</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Ennovate</h3>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              BloomBox, the Entrepreneurship Cell of KJSCE in association with Imarticus
              Learning presents Ennovate&#39;20, a techno-business event blending together both
              Entrepreneurship and Innovation with the aim ‘Make your work know it’s Worth!’. The
              participants need to develop a prototype of the technical product for an innovative idea
              and also a business plan for their product for this competition.
            </p>
            <p>
              It is an opportunity for students to implement their ideas using technology, to display
              their skills in engineering solutions and proposing appropriate business plans to
              challenging and meaningful problems. Whether through developing an app,
              demonstrating the use of machine learning, developing hardware prototypes,
              developing helpful websites or working on open source technology, this challenge is for
              innovators who are able to translate the language of code into revolutionary solutions
              for real-world problems.
            </p>
            <!--
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Technology</a></h4>
              <p class="description">Life with Technology is a life better lived</p>
            </div>
            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-suitcase"></i></div>
              <h4 class="title"><a href="">Business</a></h4>
              <p class="description">Science rules but Money lets it roar</p>
            </div>
            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-handshake-o"></i></div>
              <h4 class="title"><a href="">Entrepreneur</a></h4>
              <p class="description">Anyone can do business but only an Entrepreneur can afford
                the risk that ensue.
              </p>
            </div>
-->
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Schdeule</h3>
        </header>

        <div class="row">

          <div class="col-md-12">
            <div class="main-timeline7">
              <div class="timeline">
                <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                <span class="year">6th March</span>
                <div class="timeline-content">
                  <h5 class="title">Registration Begins & Domain Release</h5>
                  <p class="description">
                    Registration for the Ennovate 2020 Begins and Domains for Ennovate is Released
                  </p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                <span class="year">20th March</span>
                <div class="timeline-content">
                  <h5 class="title">Submission of problem statement and solution in the provided format</h5>
                  <p class="description">
                    Participants are needed to submit the Domain they wish to work in,
                    and even the solution to the problem.
                    <br><br>
                  </p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                <span class="year">23rd March</span>
                <div class="timeline-content">
                  <h5 class="title">Selection of top 20 teams</h5>
                  <p class="description">
                    The Top 20 Teams will be selected.
                    <br><br>
                  </p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                <span class="year">28th March</span>
                <div class="timeline-content">
                  <h5 class="title">Pitching of Prototype with Business Model</h5>
                  <p class="description">
                    Participants will Pitch their Solution with their Business Model.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #Schedule -->
    <!--==========================
      Prize
    ============================-->
    <section id="prize" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Perks of Participation</h3>
        </header>

        <div class="row row-eq-height justify-content-center">
          <ol>
            <li>
              Cash prizes of INR 35,000.
            </li>
            <li>
              Certificates to the winning teams
            </li>
            <li>
              Participation certificate (in name of each team member)
            </li>
            <li>
              Data Analytics Course coupons worth INR 5,000 to all participants.
            </li>
            <li>
              Mentorship opportunities with Ycenter's global leadership team and Internship opportunities from 10+
              renowned companies.
            </li>
            <li>
              An opportunity to network with our judges and mentors and get insightful knowledge about the industry.
            </li>
            <li>
              Win exciting goodies and vouchers.
            </li>
          </ol>
        </div>
        <h3 align="center" style="color:#fff">Rule Book</h3>
        <br>
        <div class="row row-eq-height justify-content-center">
          <a href="http://bit.ly/RuleBookEnnovate20" align="center"
            style="color: #fff;font-size: large;">http://bit.ly/RuleBookEnnovate20</a>
        </div>
        <br>
      </div>
    </section>

    <!--==========================
      Domain Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Domains</h3>
        </header>

        <div class="row">
          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><span class="iconify"
                  data-icon="noto:women-holding-hands-medium-light-skin-tone-light-skin-tone"
                  data-inline="false"></span></div>
              <a href="" data-toggle="modal" data-target="#Modal1">
                <h4 class="title">Women Safety and Empowerment</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Women Safety and Empowerment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    A lot of NGOs, rehabilitation centres and helpline numbers have been made operational in the past
                    years but they are all cures to the harassment that has already happened and not the ‘preventions’
                    that we need.
                    <br>
                    There are certain pre-existing apps that do send a message to the saved contacts but none of them is
                    effective and quick enough and according to a survey, the existing technology doesn’t make most
                    women feel safe.
                    <br>
                    A major change in the basic structure and a few add-ons to these is a necessity. In a lot of cases,
                    it is observed that women do not file a complaint against the accused because of various reasons
                    like not knowing the correct authority to report it to or feeling ashamed/guilty about the incident.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><img src="img/village.jpeg" height="45px" width="45px"></div>
              <a href="" data-toggle="modal" data-target="#Modal2">
                <h4 class="title">Rural Area Development</h4>
              </a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rural Area Development</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Rural development is the process of improving the quality of life and economic well-being of people
                    living in rural areas, often relatively isolated and sparsely populated areas. Rural development has
                    traditionally centered on the exploitation of land-intensive natural resources such as agriculture
                    and forestry. </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><img src="img/iot.png" height="45px" width="45px"></div>
              <a href="" data-toggle="modal" data-target="#Modal3">
                <h4 class="title">IOT solutions to daily life problems</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IOT solutions to daily life problems</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    The Internet of Things (IoT) refers to devices such as cell phones, vehicles, electronic appliances,
                    and smart sensors that are connected to a wireless network. These devices contain sensors that can
                    collect data, and software that can upload the data to the cloud or directly exchange data with
                    other connected devices.
                    As the sensors, data storage, the Internet, and analytics become faster, cheaper, better, and more
                    integrated together, users will be able to rely on analytics to make better choices. IoT devices
                    will have a significant impact on many aspects of our lives including how we live, drive, and farm
                    animals and crops.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><span class="iconify" data-icon="emojione:bar-chart" data-inline="false"></span></span>
              </div>
              <a href="" data-toggle="modal" data-target="#Modal4">
                <h4 class="title">Fintech/RegTech Solutions</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Fintech/RegTech Solutions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Financial technology, often shortened to fintech, is the technology and innovation that aims to
                    compete with traditional financial methods in the delivery of financial services. It is an emerging
                    industry that uses technology to improve activities in finance. The use of smartphones for mobile
                    banking, investing services, and cryptocurrency are examples of technologies aiming to make
                    financial services more accessible to the general public. Financial technology companies consist of
                    both startups and established financial institutions and technology companies trying to replace or
                    enhance the usage of financial services provided by existing financial companies.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><span class="iconify" data-icon="noto:man-farmer-light-skin-tone"
                  data-inline="false"></span></i></div>
              <a href="" data-toggle="modal" data-target="#Modal5">
                <h4 class="title">Agriculture Technology</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agriculture Technology</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Today's agriculture routinely uses sophisticated technologies such as robots, temperature and
                    moisture sensors, aerial images, and GPS technology. These advanced devices and precision
                    agriculture and robotic systems allow businesses to be more profitable, efficient, safer, and more
                    environmentally friendly.
                    <br>
                    Benefits include:
                    higher crop productivity, decreased use of water, fertilizer, and pesticides, which in turn keeps
                    food prices down, reduced impact on natural ecosystems, less runoff of chemicals into rivers and
                    groundwater, increased worker safety. In addition, robotic technologies enable more reliable
                    monitoring and management of natural resources, such as air and water quality.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><span class="iconify" data-icon="noto-v1:man-health-worker-medium-light-skin-tone"
                  data-inline="false"></span></i></div>
              <a href="" data-toggle="modal" data-target="#Modal6">
                <h4 class="title">Health Care</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Health Care</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Health care is the maintenance or improvement of health via the prevention, diagnosis, treatment,
                    recovery, or cure of disease, illness, injury, and other physical and mental impairments in people.
                    Health care is delivered by health professionals in allied health fields. Dentistry, pharmacy,
                    midwifery, nursing, medicine, optometry, audiology, psychology, occupational therapy, physical
                    therapy, athletic training and other health professions are all part of health care. It includes
                    work done in providing primary care, secondary care, and tertiary care, as well as in public health.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--End of 1st Row Section-->


        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><img src="img/cctv.svg" height="45px" width="45px"></div>
              <a href="" data-toggle="modal" data-target="#Modal7">
                <h4 class="title">Security and Surveilance</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Security and Surveilance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    The security plan must be considered depending on the functions & criticality of locations with
                    detailed information of intrusion detection, video assessment, fire detection access control and
                    actions to be taken by surveillance systems depending on the events. As today’s surveillance system
                    is capable enough to react with pre assigned functions when an event occurs. Vital locations and
                    functions must be monitored using wired and wireless backup communications. Remote connectivity and
                    data backup at the central/remote are the essentials to be considered in situations of present days.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><img src="img/sustain.png" height="45px" width="45px"></div>
              <a href="" data-toggle="modal" data-target="#Modal8">
                <h4 class="title">Sustainable Development</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sustainable Development</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    The idea of environmental conservation gains real momentum if we are able to conserve resources and
                    use them in a manner that they are sufficiently available for the coming generation as well. We now
                    associate it with improving living standards, poverty alleviation, nutritional improvements,
                    minimizing social and cultural instability and resource depletion. The features of sustainable
                    development include a sustained rise in per capita income (PCI) worldwide, rational usage of
                    resources, pollution checks, population control and relative dependence on renewable sources of
                    energy to meet future generations’ needs.

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><img src="img/data.jpg" height="45px" width="45px"></div>
              <a href="" data-toggle="modal" data-target="#Modal9">
                <h4 class="title">Data privacy and authenticity</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Data privacy and authenticity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Data privacy or information privacy is a branch of data security concerned with the proper handling
                    of
                    data – consent, notice, and regulatory obligations. More specifically, practical data privacy
                    concerns
                    often revolve around:
                    <br>
                    Whether or how data is shared with third parties.
                    How data is legally collected or stored.
                    Regulatory restrictions such as GDPR, HIPAA, GLBA, or CCPA.
                    Any information which is generated and saved needs to be protected against accidental or intentional
                    losses and manipulations if it is to be used by the intended users in due time. As such, information
                    managers have adopted numerous measures to achieve data security within data storage systems, along
                    with
                    the spread of information technology.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><span class="iconify" data-icon="noto:woman-in-motorized-wheelchair-light-skin-tone"
                  data-inline="false"></span></div>
              <a href="" data-toggle="modal" data-target="#Modal10">
                <h4 class="title">Tech based Solution for Handicap</h4>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tech based Solution for Handicap</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Appropriate assistive technology often helps people with disabilities compensate, at least in part,
                    for
                    a limitation. For example, assistive technology enables students with disabilities to compensate for
                    certain impairments. This specialized technology promotes independence and decreases the need for
                    other
                    support.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12  wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <h5 align="center">Products/prototypes falling under domains other than those specified above are also
            welcomed.
          </h5>
        </div>
    </section><!-- #services -->




    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Looking Back</h3>
        </header>

        <div class="gallery" id="gallery">

          <!-- Grid column -->
          <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="img/Past Photos/Ennovate_01.jpeg" alt="Ennovate Images">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="img/Past Photos/Ennovate_03.jpeg" alt="Ennovate Images">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="img/Past Photos/Ennovate_07.jpeg" alt="Ennovate Images">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="img/Past Photos/Ennovate_04.jpeg" alt="Ennovate Images">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="img/Past Photos/Ennovate_09.jpeg" alt="Ennovate Images">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="img/Past Photos/Ennovate_06.jpeg" alt="Ennovate Images">
          </div>
          <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="img/Past Photos/Ennovate_02.jpeg" alt="Ennovate Images">
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Sponser Section
    ============================-->
    <section id="sponsers" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our Sponsors</h3>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp ">

          <div class="col-lg-4 col-md-4 col-xs-6 mx-auto">
            <br>
            <h5 align="center">Associate Sponsor</h5>
            <div class="sponser-logo">
              <a href="https://imarticus.org/">
                <img src="img/clients/Imarticus.png" height="175px" alt="y-center">
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

        <div class="col-lg-4 col-md-4 col-xs-6">
          <br>
          <h5 align="center">Coding Partner</h5>
          <div class="sponser-logo">
            <a href="https://codingblocks.com/">
              <img src="img/clients/CodingBlocks.png" class="img-fluid" alt="codingblocks">
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
          <br>
          <h5 align="center">Online Course Discount Partner</h5>
          <div class="sponser-logo">
            <a href="https://www.educba.com/">
              <img src="img/clients/Edcuba.png" class="img-fluid" alt="educba">
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
          <br>
          <h5 align="center">Holiday Partner</h5>
          <div class="sponser-logo">
            <a href="https://www.facebook.com/campbuddyindia/">
              <img src="img/clients/CampBuddy.png" class="img-fluid" alt="campbuddyindia">
            </a>
          </div>
        </div>
      </div>

      </div>

      <br>
      <div class="container">

        <div class="section-header">
          <h3>Mentoring Partners</h3>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp ">

          <div class="col-lg-4 col-md-4 col-xs-6 mx-auto">
            <br>
            <h5 align="center">Y center</h5>
            <div class="sponser-logo">
              <a href="https://y-center.org/">
                <img src="img/y-center.png" height="135px" alt="y-center">
              </a>
            </div>
          </div>
        </div>

      </div>


      <br>


      <div class="container">

        <div class="section-header">
          <h3>Internship Partners</h3>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-4 col-md-4 col-xs-6">
            <br>
            <h5 align="center">Fyntune</h5>
            <div class="sponser-logo">
              <a href="http://www.fyntune.com/">
                <img src="img/clients/Fyntune.png" class="img-fluid" alt="fyntune">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-xs-6">
            <br>
            <h5 align="center">Roostoo</h5>
            <div class="sponser-logo">
              <a href="https://play.google.com/store/apps/details?id=com.roostoo.roostoo&hl=en_US">
                <img src="img/clients/Roostoo.png" class="img-fluid" alt="roostoo">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-xs-6">
            <br>
            <h5 align="center">Whrrl</h5>
            <div class="sponser-logo">
              <a href="http://www.whr.loans/">
                <img src="img/clients/Whrrl_logo_highres.png" class="img-fluid" alt="Whrrl">
              </a>
            </div>
          </div>
        </div>

      </div>

    </section>

    <!--==========================
      FAQ
    ============================-->
    <section id="faq" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Frequently Asked Question</h3>
        </header>


        <div class="FAQ-Panel">

          <div class="Faq-Q">
            <div class="panel-group mx-auto">
              <div class="panel panel-default mx-auto">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Is Ennovate a Hackthon ?</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <li>Ennovate is not a hackathon. It is a Techno-Business Competition.</li>
                </div>
              </div>
            </div>
          </div>


          <div class="Faq-Q">
            <div class="panel-group mx-auto">
              <div class="panel panel-default mx-auto">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Do I need to pay any money to register for Ennovate?
                    </a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <li>No. The competition has no registration fees. It is free for all.</li>
                </div>
              </div>
            </div>
          </div>

          <div class="Faq-Q">
            <div class="panel-group mx-auto">
              <div class="panel panel-default mx-auto">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">Do we need to have the entire idea fully working?
                    </a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <li>The entire idea need not be fully implemented, however, the submission should be functional so
                    that it can be reviewed by the judges.</li>
                </div>
              </div>
            </div>
          </div>


          <div class="Faq-Q">
            <div class="panel-group mx-auto">
              <div class="panel panel-default mx-auto">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4">Since there is no specific technology mentioned, are
                      there any restrictions on using any number of pre-built libraries?</a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <li>There is no restriction to use any language, technology stack, or libraries. You can use any of
                    them to create the web/mobile application.</li>
                </div>
              </div>
            </div>
          </div>


          <div class="Faq-Q">
            <div class="panel-group mx-auto">
              <div class="panel panel-default mx-auto">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse5">Who will own the IP (Intellectual Property) Rights to
                      the product that they have built?</a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <li>The developer(s) of the prototype will have all rights and own the IP of the product.
                  </li>
                </div>
              </div>
            </div>
          </div>

          <div class="Faq-Q">
            <div class="panel-group mx-auto">
              <div class="panel panel-default mx-auto">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse6">On what basis will my prototype be judged?
                    </a>
                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <li>The details for judging criteria are provided in the details of the event section. Click this link
                    <u><a href="http://bit.ly/RuleBookEnnovate20">http://bit.ly/RuleBookEnnovate20</a></u> to know more.
                  </li>
                </div>
              </div>
            </div>
          </div>

          <div class="Faq-Q">
            <div class="panel-group mx-auto">
              <div class="panel panel-default mx-auto">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse7">Is there any technology that we can't make use of in
                      building our prototype?
                    </a>
                  </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                  <li>No, there is no constraint on the type of technology you use.
                  </li>
                </div>
              </div>
            </div>
          </div>

        </div>
        <br>
      </div>
    </section>
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15083.14541298099!2d72.899884!3d19.0731288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ca23448d256dc20!2sBloomBox%2C%20E-Cell%20KJSCE!5e0!3m2!1sen!2sin!4v1582366610907!5m2!1sen!2sin"
                frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
            </form>
          </div>

        </div>
      </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Ennovate</h3>
            <p>Bloombox E-cell is the right place to let your business prototype and technical model reach sky high.
              It is an event wherein the participants are asked to build a prototype of website/ web application
              demonstrating the use of any technology and provide innovative solutions for real-world problems through
              their prototype. Along with the prototype, the teams were also asked to provide a business plan for their
              prototype</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Schedule</a></li>
              <li><a href="#">Prize</a></li>
              <li><a href="#">Images</a></li>
            </ul>
          </div>
          <div class="social-links mx-auto">
            <h4 align="center">Contact</h4>
            <br>
            <p>Krunal :- <a href="tel:8425935778" id="telno">8425935778</a><br>
              Vartika :- <a href="tel:9619705498" id="telno">9619705498</a><br>
              Charmi :- <a href="tel:9769396857" id="telno">9769396857</a><br></p>
            <a href="https://twitter.com/bloombox_kjsce?lang=en" id="ss" class="twitter"><i
                class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/bloomboxkjsce/" id="ss" class="facebook"><i
                class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/bloombox_kjsce/" id="ss" class="instagram"><i
                class="fa fa-instagram"></i></a>
            <a href="https://in.linkedin.com/in/bloomboxkjsce" id="ss" class="linkedin"><i
                class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="container">
      <div class="credits">
        Designed by BloomBox
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>