<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <script>
      try {
        var firebaseConfig = {
          apiKey: "AIzaSyAPdZz1Uz4zh3iIJBc_Av3_Zhpa7imLmCQ",
          authDomain: "registration-details-a127d.firebaseapp.com",
          databaseURL: "https://registration-details-a127d.firebaseio.com",
          projectId: "registration-details-a127d",
          storageBucket: "registration-details-a127d.appspot.com",
          messagingSenderId: "274203592486",
          appId: "1:274203592486:web:7f4afd24615dad2b"
        };
        firebase.initializeApp(firebaseConfig);
        const storage = firebase.storage();
        const auth = firebase.auth();
        console.log("config done");
      } catch (err) {
        console.log(err);
      }
    </script>
  </body>
</html>
